name: Nancy

on:
  push:
    branches:
      - master
  pull_request:
      types: [opened, synchronize, reopened]

jobs:
  nancy:
    runs-on: ubuntu-latest
    name: Nancy
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: WriteGoList
      run: go list -json -m all > go.list
    - name: Nancy SAST Scan
      uses: sonatype-nexus-community/nancy-github-action@main

